/* Footer.module.css */

.footerContainer {
    background: linear-gradient(180deg, #0B0B0B 0%, #111111 100%);
    color: #FFFFFF;
    padding: 6rem;
    padding-top: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10rem 1fr;





}

.footerWrapper {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footerContent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    align-items: center;
    justify-items: center;



}




.signatureContainer img {
    width: 12rem;
    height: 12rem;

}

/* Center Column - Social Media */
.media {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
}

.media p {
    font-size: 1.25rem;
    font-weight: 300;
    margin: 0;
    letter-spacing: 1px;
    color: #FFFFFF;

}

.socialIcons {
    display: flex;
    gap: 1rem;
    justify-items: center;
    align-items: center;
}

.socialIcons i {
    font-size: 1.4rem;
    color: #FFFFFF;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.socialIcons i:hover {
    opacity: 0.7;
}

.footerNav {
    display: flex;


}

.footerNav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1.5rem;
}

.footerNav li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
    transition: opacity 0.3s ease;
}

.footerNav li a:hover {
    opacity: 0.7;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}


.footerContainer hr {
    border: 0;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 4rem;

}

/* Bottom Footer Row (Copyright) */
.footerContainer p:last-child {
    text-align: center;
    color: #B5B5B5;
    font-size: 0.875rem;
    font-weight: 300;
    margin: 0;
    letter-spacing: 0.02em;
}



@media (max-width: 768px) {
    .footerContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 3rem;
    }

    .signatureContainer {
        padding-left: 0;
        justify-content: center;
    }

    .signatureContainer img {
        width: 14rem;
    }

    .footerNav {
        width: 100%;
    }

    .footerNav ul {
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
        width: 100%;
    }

    .footerContainer {
        padding-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .footerContainer .footerWrapper .footerContent:nth-child(1) {
        gap: 2rem;

    }

    .footerContainer .footerWrapper .footerContent .media .socialIcons i {
        font-size: 2rem;
    }
}