/* Home styles */

.homeContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40rem;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.homeContent1 {
    grid-column: 1 / 1;
    display: grid;
    grid-template-columns: minmax(100%, 1fr);
    grid-template-rows: 20rem 10rem 5rem auto;
}

.homeContent1 .helloTitle {
    line-height: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    pointer-events: none;

}


.homeContent1 .helloTitle p {
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin: 0;

    color: var(--text-secondary);
}


.homeContent1 .helloTitle .name {
    line-height: 8rem;
    position: relative;
}


.homeContent1 .helloTitle .name h1 {
    font-size: 10rem;
    font-weight: 900;
    margin: 0.4rem;
    width: fit-content;
    text-shadow: 40px 30px 3px rgba(255, 255, 255, 0.1);
}



.homeContent1 .helloTitle .name h1:nth-child(2) {
    padding-left: 7.5rem;
}


.homeContent1 .helloTitle .name hr:nth-child(3) {
    width: 0.8rem;
    height: 8rem;

    background-color: var(--text-primary);
    position: absolute;
    top: 9rem;
    left: 3.5rem;
    border: none;
    border-radius: 10rem;
}


.homeContent1 .helloTitle .name hr:nth-child(4) {
    width: 11rem;
    height: 0.8rem;

    background-color: var(--text-primary);
    position: absolute;
    top: 4rem;
    left: 27rem;
    border: none;
    border-radius: 10rem;
}


.homeContent1 .description p {
    font-size: 1.1rem;

    font-weight: 200;
    margin: 0;
    line-height: 2rem;

    color: var(--text-secondary);
}


.homeContent1 .description p span {
    background: linear-gradient(to right, #FFFFFF, #CCCCCC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    cursor: pointer;
}


.homeContent1 .signature h2 {
    font-size: 4rem;

    font-weight: 400;
    margin: 0;
    color: var(--text-primary);
}


.homeContent1 .socialsContainer {
    display: flex;
    justify-content: left;
    align-items: center;

}

.homeContent1 .socialsContainer a {

    font-size: 2rem;
    color: var(--text-primary);
    transition: color 0.3s ease;
    cursor: pointer;
    text-decoration: none;
}

.homeContent1 .socialsContainer a:hover {
    color: var(--bg-tertiary);
}

.homeContent2 {
    grid-column: 2 / 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);


}


.homeContent2 .imageContainer {
    position: relative;
    width: 100%;
    max-width: 30rem;
    /* Adjust this to easily change size */
    height: auto;
}



.homeContent2 .imageContainer img {
    width: 30rem;
    height: 50rem;

    position: absolute;
    top: -18rem;
    /* Consider using percentage or media queries for better responsiveness */
    left: -18%;
    z-index: 1;
}


.homeContent2 .keywordsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 5rem;
    line-height: 0;

    z-index: 2;
}

.homeContent2 .keywordsContainer img {
    width: 10rem;
    height: 3.5rem;


}



.homeContent2 .keywordsContainer .itemContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.homeContent2 .keywordsContainer .itemContainer .item {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    white-space: nowrap;
    gap: 0.2rem;
}

.homeContent2 .keywordsContainer .itemContainer .item p {
    font-size: 1rem;
    font-weight: 400;

    color: #A6A6A6;
}

.homeContent2 .keywordsContainer .itemContainer .item hr {
    height: 0.1rem;
    width: 3rem;
    background-color: #A6A6A6;
    border: none;
    border-radius: 10rem;
    margin-left: 1rem;
}

.homeContent2 .keywordsContainer .itemContainer .item:nth-child(2) hr {
    width: 2rem;
    margin-left: 2rem;
}

.homeContent2 .keywordsContainer .itemContainer .item:nth-child(3) hr {
    width: 2rem;
    margin-left: 2rem;
}










@media (max-width: 767px) {
    .homeContainer {
        display: grid;
        grid-template-columns: minmax(100%, 1fr);
        grid-template-rows: 20rem 4rem auto auto 12rem;
        align-items: center;
        justify-items: center;
        max-width: 90%;

        height: auto;
    }

    /* Flatten structure to allow reordering mixed elements */
    .homeContent1,
    .homeContent2,
    .homeContent2 .keywordsContainer {
        display: contents;
    }


    .homeContent1 .helloTitle {
        order: 1;

        margin-bottom: 2rem;
        pointer-events: auto;
    }

    .homeContent1 .helloTitle p {
        margin-left: 1rem;
    }


    .homeContent1 .helloTitle .name {
        line-height: 6rem;
    }

    .homeContent1 .helloTitle .name h1 {
        font-size: 6.5rem;

    }




    .homeContent1 .helloTitle .name h1:nth-child(2) {
        padding-left: 5.2rem;
    }


    .homeContent1 .helloTitle .name hr:nth-child(3) {
        left: 2.5rem;
        top: 6.5rem;
        height: 6rem;

    }


    .homeContent1 .helloTitle .name hr:nth-child(4) {
        left: 18rem;
        top: 2.8rem;
        width: 8rem;

    }

    .homeContent2 .keywordsContainer img {
        order: 2;
        margin-bottom: 2rem;
        width: 15rem;


    }





    .homeContent1 .description {
        order: 3;
        text-align: center;
        margin-bottom: 2rem;
    }

    .homeContent1 .signature {
        display: none;
    }


    .homeContent1 .socialsContainer {
        order: 4;
        justify-content: center;
        margin-bottom: 1rem;

    }



    /* Restore Keywords Flex/Contents to handle reordering mixed children (Logo vs Group) */
    .homeContent2 .keywordsContainer {
        display: contents;
    }

    .homeContent2 .keywordsContainer img {
        order: 2;
        margin-bottom: 2rem;
        width: 15rem;
    }

    /* Rotate the entire container of items for mobile */
    .homeContent2 .keywordsContainer .itemContainer {
        order: 5;
        display: flex;
        flex-direction: column;
        /* Stacked vertically in local space */
        /* Rotate -90deg -> Becomes Horizontal sequence of vertical items */
        transform: rotate(-90deg);
        transform-origin: center;
        margin-top: 5rem;
        margin-bottom: 2rem;
        gap: 1.5rem;
        align-items: flex-start;
    }

    .homeContent2 .keywordsContainer .item {
        transform: none;
        /* No individual rotation */
        margin: 0;
        white-space: nowrap;
    }

    .homeContent2 .keywordsContainer .itemContainer .item:nth-child(2) hr {
        width: 4rem;
        margin-left: 2rem;
    }

    .homeContent2 .keywordsContainer .itemContainer .item:nth-child(3) hr {
        width: 4rem;
        margin-left: 2rem;
    }






    .homeContent2 .imageContainer {
        order: 6;
        width: 100%;
        max-width: 80%;

        display: flex;
        justify-content: center;
    }

    .homeContent2 .imageContainer img {
        position: relative;
        top: 0;
        left: 0;
        margin-left: 20%;
        width: 30rem;
        height: 50rem;
        height: auto;
        transform: none;
    }


}



/* Portrait Mode: Mobile to iPad Pro Portrait */
@media (min-width: 768px) and (max-width: 1280px) and (orientation: portrait) {
    .homeContainer {
        display: grid;
        grid-template-columns: minmax(100%, 1fr);
        grid-template-rows: 25rem 4rem auto auto 12rem;
        align-items: center;
        justify-items: center;
        max-width: 90%;

        height: auto;
    }

    /* Flatten structure to allow reordering mixed elements */
    .homeContent1,
    .homeContent2,
    .homeContent2 .keywordsContainer {
        display: contents;
    }


    .homeContent1 .helloTitle {
        order: 1;

        margin-bottom: 2rem;
        pointer-events: auto;
    }

    .homeContent1 .helloTitle .name h1 {
        font-size: 7rem;

    }

    .homeContent1 .helloTitle .name h1:nth-child(2) {
        padding-left: 5.2rem;
    }


    .homeContent1 .helloTitle .name hr:nth-child(3) {
        left: 3rem;
        height: 6rem;

    }


    .homeContent1 .helloTitle .name hr:nth-child(4) {
        left: 19rem;
        width: 8rem;

    }

    .homeContent2 .keywordsContainer img {
        order: 2;
        margin-bottom: 2rem;
        width: 15rem;


    }





    .homeContent1 .description {
        order: 3;
        text-align: center;
        margin-bottom: 2rem;
    }

    .homeContent1 .signature {
        display: none;
    }


    .homeContent1 .socialsContainer {
        order: 4;
        justify-content: center;
        margin-bottom: 1rem;

    }



    /* Restore Keywords Flex/Contents to handle reordering mixed children (Logo vs Group) */
    .homeContent2 .keywordsContainer {
        display: contents;
    }

    .homeContent2 .keywordsContainer img {
        order: 2;
        margin-bottom: 2rem;
        width: 15rem;
    }

    /* Rotate the entire container of items for mobile */
    .homeContent2 .keywordsContainer .itemContainer {
        order: 5;
        display: flex;
        flex-direction: column;
        /* Stacked vertically in local space */
        /* Rotate -90deg -> Becomes Horizontal sequence of vertical items */
        transform: rotate(-90deg);
        transform-origin: center;
        margin-top: 5rem;
        margin-bottom: 2rem;
        gap: 1.5rem;
        align-items: flex-start;
    }

    .homeContent2 .keywordsContainer .item {
        transform: none;
        /* No individual rotation */
        margin: 0;
        white-space: nowrap;
    }

    .homeContent2 .keywordsContainer .itemContainer .item:nth-child(2) hr {
        width: 4rem;
        margin-left: 2rem;
    }

    .homeContent2 .keywordsContainer .itemContainer .item:nth-child(3) hr {
        width: 4rem;
        margin-left: 2rem;
    }






    .homeContent2 .imageContainer {
        order: 6;
        width: 100%;
        max-width: 80%;

        display: flex;
        justify-content: center;
    }

    .homeContent2 .imageContainer img {
        position: relative;
        top: 0;
        left: 0;
        margin-left: 10%;
        width: 30rem;
        height: 50rem;
        height: auto;
        transform: none;
    }
}



@media (min-width: 768px) and (max-width: 1279px) and (orientation: landscape) {
    .homeContainer {
        max-width: 95%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;

        /* Ensure full viewport */
        overflow: hidden;
        /* Prevent scroll on tight fits */
    }

    .homeContent1 {

        grid-template-rows: 15rem 12rem auto;
    }

    .homeContent1 .helloTitle .name {
        line-height: 4.5rem;
    }

    .homeContent1 .helloTitle .name h1 {
        font-size: 6rem;
        /* Scale down title */
    }


    .homeContent1 .description p {
        font-size: 1rem;
    }

    .homeContent1 .signature h2 {
        font-size: 3rem;
    }


    .homeContent1 .socialsContainer {
        padding-bottom: 4rem;
    }



    .homeContent1 .socialsContainer i {
        font-size: 1.5rem;
    }

    .homeContent1 .helloTitle .name h1:nth-child(2) {
        padding-left: 4.5rem;
        /* Reduce offset */
    }

    .homeContent1 .helloTitle .name hr:nth-child(3) {
        left: 2.5rem;
        top: 5rem;
        height: 5rem;

    }


    .homeContent1 .helloTitle .name hr:nth-child(4) {
        left: 17rem;
        top: 2rem;
        width: 6rem;

    }

    .homeContent2 .imageContainer img {
        width: 30rem;
        /* Slightly smaller image base size */
        height: 50rem;
        top: -16rem;
        object-fit: cover;
        /* Adjustment for landscape fit */
        left: -29%;
    }

    .homeContent2 .keywordsContainer {
        margin-left: 4rem;
    }
}