/* Home styles */

.homeContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40rem;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.homeContent1 {
    grid-column: 1 / 1;
    display: grid;
    grid-template-columns: minmax(100%, 1fr);
    grid-template-rows: 20rem 10rem 5rem auto;
}



.homeContent1 .description h1 {
    font-size: 3rem;
    font-weight: 900;
    margin: 0.4rem;
    width: fit-content;

}

.homeContent1 .description h1 span {
    color: var(--accent-primary);

}


.homeContent1 .description p {
    font-size: 1.5rem;

    font-weight: 200;
    margin: 0;
    line-height: 2rem;

    color: var(--text-secondary);
}


.homeContent1 .description p span {
    color: var(--accent-primary);
}

.homeContent1 .signature {
    display: flex;
    justify-content: left;
    align-items: baseline;
    width: fit-content;
    height: fit-content;
}


.homeContent1 .signature img {
    width: 15rem;
    height: 15rem;
}


.homeContent2 {
    grid-column: 2 / 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);


}


.homeContent2 .imageContainer {
    position: relative;
    width: 100%;
    max-width: 1000rem;
    /* Adjust this to easily change size */
    height: auto;
}



.homeContent2 .imageContainer img {
    width: 65rem;
    height: 50rem;

    position: absolute;
    top: -23rem;

    left: -100%;
    z-index: 10;
}










@media (max-width: 767px) {
    .homeContainer {
        display: grid;
        grid-template-columns: minmax(100%, 1fr);
        grid-template-rows: 20rem 4rem auto;
        align-items: center;
        justify-items: center;
        max-width: 90%;

        height: auto;
    }

    /* Flatten structure to allow reordering mixed elements */
    .homeContent1,
    .homeContent2,
    .homeContent2 .keywordsContainer {
        display: contents;
    }





    .homeContent1 .description {
        order: 3;
        text-align: center;
        margin-bottom: 2rem;
    }

    .homeContent1 .signature {
        margin-top: 2rem;
        order: 4;
    }

    .homeContent1 .signature img {
        width: 12rem;
        height: 12rem;
    }








    /* Restore Keywords Flex/Contents to handle reordering mixed children (Logo vs Group) */
    .homeContent2 .keywordsContainer {
        display: contents;
    }

    .homeContent2 .keywordsContainer img {
        order: 2;
        margin-bottom: 2rem;
        width: 15rem;
    }

    /* Rotate the entire container of items for mobile */
    .homeContent2 .keywordsContainer .itemContainer {
        order: 5;
        display: flex;
        flex-direction: column;
        /* Stacked vertically in local space */
        /* Rotate -90deg -> Becomes Horizontal sequence of vertical items */
        transform: rotate(-90deg);
        transform-origin: center;
        margin-top: 5rem;
        margin-bottom: 2rem;
        gap: 1.5rem;
        align-items: flex-start;
    }

    .homeContent2 .keywordsContainer .item {
        transform: none;
        /* No individual rotation */
        margin: 0;
        white-space: nowrap;
    }

    .homeContent2 .keywordsContainer .itemContainer .item:nth-child(2) hr {
        width: 4rem;
        margin-left: 2rem;
    }

    .homeContent2 .keywordsContainer .itemContainer .item:nth-child(3) hr {
        width: 4rem;
        margin-left: 2rem;
    }






    .homeContent2 .imageContainer {
        order: 6;
        width: 100%;
        max-width: 80%;
        margin-top: 4rem;

        display: flex;
        justify-content: center;
    }

    .homeContent2 .imageContainer img {
        position: relative;
        top: 0;
        left: -10%;
        margin-left: 20%;
        width: 27rem;
        height: 50rem;
        height: auto;
        transform: none;
    }


}




@media (min-width: 768px) and (max-width: 1280px) and (orientation: portrait) {
    .homeContainer {
        display: grid;
        grid-template-columns: minmax(100%, 1fr);
        grid-template-rows: 18rem 4rem auto;
        align-items: center;
        justify-items: center;
        max-width: 90%;

        height: auto;
    }

    /* Flatten structure to allow reordering mixed elements */
    .homeContent1,
    .homeContent2,
    .homeContent2 {
        display: contents;
    }


    .homeContent1 .description {
        order: 3;
        text-align: center;
        margin-bottom: 4rem;
    }

    .homeContent1 .signature {
        order: 4;

    }

    .homeContent1 .signature img {
        width: 20rem;
        height: 20rem;
        padding-bottom: 4rem;
    }


    .homeContent1 .socialsContainer {
        order: 4;
        justify-content: center;
        margin-bottom: 1rem;

    }




    .homeContent2 .imageContainer {
        order: 6;
        width: 100%;
        max-width: 80%;
        margin-top: 2rem;

        display: flex;
        justify-content: center;
    }

    .homeContent2 .imageContainer img {
        position: relative;
        top: 0;
        left: 0;
        margin-left: 10%;
        width: 40rem;
        height: 50rem;
        height: auto;
        transform: none;
    }
}



@media (min-width: 768px) and (max-width: 1279px) and (orientation: landscape) {
    .homeContainer {
        max-width: 90%;
        grid-template-columns: 1fr 30rem auto;
        grid-template-rows: 1fr;
        padding-bottom: 10rem;



    }

    .homeContent1 {

        grid-template-rows: 15rem 12rem auto;
    }



    .homeContent1 .description h1 {
        font-size: 3rem;
    }



    .homeContent1 .description p {
        font-size: 1.5rem;
    }

    .homeContent1 .signature {
        position: relative;
        right: 2rem;
    }










    .homeContent2 .imageContainer img {
        top: -15rem;


        width: 45rem;
        height: 40rem;
    }

    .homeContent2 .keywordsContainer {
        margin-left: 4rem;
    }
}