/* Gallery.module.css */

.galleryContainer {




    width: 100%;
    max-width: 1100px;

    margin: 0 auto;
    min-height: 100vh;
}



.GalleryHeader {
    text-align: center;
    padding: 1.4rem;
    max-width: 800px;
    margin: 0 auto;
}

.GalleryHeader h1 {
    font-size: 3rem;
    font-weight: 500;
    text-transform: uppercase;

    letter-spacing: 0.1rem;
    margin-bottom: 0;
}



.GalleryHeader hr {
    border: 1px solid #ffffff;

    width: 200px;

}


.galleryContainer .imageWrapper img {
    width: 100%;
    height: auto;
    object-fit: cover;


}


@media (max-width: 768px) {
    .galleryContainer {
        padding: 2rem 1rem;
        max-width: 400px;
    }
}


@media (max-width: 1024px) {
    .galleryContainer {
        padding: 2rem 1rem;
        max-width: 95%
    }
}